<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Screen Time Health App ALERT</h1>
    <p>Hi, the family member <%= @kid.name %> registered under the Screen Time Health App spent more time in front of the screen than the allowed threshold.</p>
  </body>
</html>