<div class="row">
	<div class="col-lg-4">
		<h1>About ScreenTime app</h1>
		<p>This app allows parents to track their children activity on the computer. This idea can potentially be extended to use on smartphones and tablets.</p>
		<br/>

		<h4>References for data sources</h4>
			<p><a href="https://data.gov.uk/dataset/primary_1_body_mass_index_bmi_statistics">Data.gov.uk | Primary School BMI Statisctics</a></p>
			<p><a href="http://www.isdscotland.org/Health-Topics/Child-Health/Publications/index.asp#1218">ISD Scotland | Child Health</a></p>
			<p><a href="https://kaiserfamilyfoundation.files.wordpress.com/2013/04/8010.pdf">Kaiser Family Foundation | Media in the lifes of 8 to 18 year olds</a></p>

		<br/>

		<h4>External links</h4>
		<p><a href="https://github.com/jonathanmanfield/screenTimeHealth"><i class="mdi-social-group"></i>GitHub</a></p>

	</div>

</div>