</div>
<div class="page-banner" style="background:#4caf50;margin-bottom:20px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center" style="padding:20px;">
			<i class="mi" style="font-size:120px;color:#ffffff">restore</i>
			<h1 style="color:#ffffff;">Welcome to ScreenTime!</h1>
			</div>
		</div> 
		<div class="row" style="margin-bottom:20px;">
			<div class="col-lg-4" style="color:#fff; text-align:center;">
				<h4>Average time a day spent on media is <strong>11h</strong> for 11-18 year old.</h4>
			</div>
			<div class="col-lg-4" style="color:#fff; text-align:center;">
				<h3>Multitasking proportion has increased by 13% in 10 years time.</h3>
			</div>
			<div class="col-lg-4" style="color:#fff; text-align:center;">
				<h4>Time spent at a computer has increased by <strong>27 minutes</strong> a day in 5 years time.</h4>
			</div>
		</div>
	</div>
</div>
<div class="container">
<div class="row text-center">
	<div class="col-lg-12">
		<%= image_tag("screentime.png", :alt => "Screen Time Application", :class => "img-responsive") %>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="panel text-center">
			<div class="panel-heading">
				<h2>Track</h2>
			</div>
			<div class="panel-body" style="min-height:200px;">
				<i style="font-size:36px;" class="mdi-device-gps-fixed"></i>
				<p>Track your child's screen time by simply running an extension on their laptop or any other device. This will show real-time sessions on how often and for how long app is used on the device.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel text-center">
			<div class="panel-heading">
				<h2>Improve</h2>
			</div>
			<div class="panel-body" style="min-height:200px;">
				<i style="font-size:36px;" class="mdi-action-trending-up"></i>
				<p>Improve health of your child by reducing usage of devices and improving their behaviour.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel text-center">
			<div class="panel-heading">
				<h2>Analyse</h2>
			</div>
			<div class="panel-body" style="min-height:200px;">
				<i style="font-size:36px;" class="mdi-notification-event-note"></i>
				<p>Analyse data to see when the devices are used most often.</p>
			</div>
	</div>
</div>
</div>
</div>