<div class="row">
	<div class="col-lg-12">
		<h1>Welcome to ScreenTime!</h1>
	</div>
	<div class="col-lg-12">
		<%= image_tag("screentime.png", :alt => "Screen Time Application", :class => "img-responsive") %>
	</div>
	<div class="col-lg-4">
		<h2><i class="mdi-device-gps-fixed"></i> Track</h2>
		<p>Track your child's screen time by simply running an extension on their laptop or any other device. This will show real-time sessions on how often and for how long app is used on the device.</p>
	</div>
	<div class="col-lg-4">
		<h2><i class="mdi-action-trending-up"></i> Improve</h2>
		<p>Improve health of your child by reducing usage of devices and improving their behaviour.</p>
	</div>
	<div class="col-lg-4">
		<h2><i class="mdi-notification-event-note"></i> Analyse</h2>
		<p>Analyse data to see when the devices are used most often.</p>
	</div>

</div>